*.sdf
*.suo
_UpgradeReport_Files
UpgradeLog.*
DerivedData
.xcuserstate
*.xcuserdatad
.DS_Store
xcshareddata
SDL-1.2.9
*.opensdf
DebugVC7
bin
*/ReleaseVC7
*vcxproj.user
Lib\DirectX_SDK\*
Lib\SDL\*
Lib\SDL_Mixer\*
_ReSharper*
vs/ipch/
*ncrunch*