*.sdf
*.suo
_UpgradeReport_Files
UpgradeLog.*
DerivedData
.xcuserstate
*.xcuserdatad
.DS_Store
xcshareddata
SDL-1.2.9
*.opensdf
DebugVC7
bin
*/ReleaseVC7
*vcxproj.user
DUKE3D.GRP

# Linux
*.o
*.a
*~
chocolate-duke3d
duke3d.cfg
duke3d.grp

# GNU automake
.deps
/aclocal.m4
/autom4te.cache
/build-aux
Makefile
Makefile.in
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1
